@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'base/base';


.app {
  @include outer-container($base-page-width);
  padding: 0 $base-spacing;

  @include media($medium-screen) {
    padding: 0 $base-spacing * 2;
  }

  @include media($large-screen) {
    padding: 0 $base-spacing * 4;
  }
}

.intro {
  @include media($large-screen) {
    @include span-columns(8);
  }
  padding: $base-spacing * 4 0;

  h1 {
    font-size: modular-scale(4);
    @include media($medium-screen) {
      font-size: modular-scale(7);
    }
    margin-bottom: modular-scale(-6);
    line-height: 1;
  }

  p.large {
    font-size: modular-scale(1);
    @include media($medium-screen) {
      font-size: modular-scale(2);
    }
  }
}

.palettes {

}

.palette {
  @include media(min-width $medium-screen max-width $large-screen) {
    @include span-columns(6);
    @include omega(2n);
  }

  @include media($large-screen) {
    @include span-columns(4);
    @include omega(3n);
  }

  margin-bottom: $base-spacing;
  padding: $small-spacing;

  h2 {
    font-size: modular-scale(11);
    text-align: center;
  }
}

.palette-footer {
  display: flex;
  justify-content: space-between;

  p {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: modular-scale(2);
  }
}
