<template lang="pug">
.app
  .intro
    h1 ColorCache
    p.large ColorCache is a collection of color palettes for web and graphic design. More colors will be added when I find them.
  .palettes
    palette(
      v-for="(palette, index) in palettes"
      v-bind:index="index + 1"
      v-bind:highlightColor="palette.highlightColor"
      v-bind:contrastColor="palette.contrastColor"
      v-bind:backgroundColor="palette.backgroundColor"
      v-bind:source="palette.source"
    )
</template>

<script>
import Palette from './components/Palette.vue'
import palettes from './data/palettes.js'

export default {
  name: 'app',
  components: {
    'palette': Palette
  },
  data() {
    return {
      palettes: palettes
    }
  }
}
</script>
