<template lang="pug">
.palette(:style="{ backgroundColor: backgroundColor }")
  h2(:style="{ color: highlightColor }") {{ index }}
  .palette-footer
    p(:style="{ color: contrastColor }") &numero;
    p(:style="{ color: contrastColor }") {{ backgroundColor }}

</template>

<script>
export default {
  name: 'palette',
  props: {
    index: Number,
    highlightColor: String,
    contrastColor: String,
    backgroundColor: String,
    source: String
  }
}
</script>
